<ion-header>
  <ion-toolbar>
    <ion-row>
      <div class="titlecont">
        <ion-title class="title">Add Pet</ion-title>
      </div>
      <div class="btncont">
        <ion-button class="btn" color="transparent" (click)="dismissRegister()">
          <ion-icon name="close" color="danger" style="font-size: 32px;"></ion-icon>
        </ion-button>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-row class="form-row">
      <ion-label position="floating">Upload Image</ion-label>
      <div class="image-cont">
        <ion-button class="btn" (click)="uploadFile()">
          <ion-icon name="images" style="font-size: 124px;"></ion-icon>
        </ion-button>
      </div>
    </ion-row>

    <ion-item>
      <ion-label position="floating">Pet Name</ion-label>
      <ion-input ngModel name="PName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Specie</ion-label>
      <ion-input ngModel name="PSpec"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Breed</ion-label>
      <ion-input ngModel name="PBreed"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Age</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="PAge"></ion-datetime>
    </ion-item>

    <ion-button type="submit" expand="full" color="danger">Register</ion-button>
  </form>
</ion-content>