<ion-header>
  <ion-toolbar>
    <ion-row class="topbar">
      <div class="titlecont">
        <ion-title class="title">My Pets</ion-title>
      </div>
      <div class="buttoncont">
        <ion-button class="btn" slot="end" fill="clear">
          <ion-icon name="arrow-back" color="light" style="font-size: 32px;"></ion-icon>
        </ion-button>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-card class="pet-card">
      <ion-item>
        <div class="avatar-cont">
          <ion-avatar class="pet-avatar" slot="start">
            <img src="/assets/sufi.jpg">
          </ion-avatar>
        </div>
        <div class="div-details">
          <ion-label class="name">Sophie</ion-label>
          <ion-label class="age">2yo poop princess</ion-label>
          <ion-label class="bio">Smelly poo poos</ion-label>
        </div>
        <div class="div-settings">
          <ion-button color="dark" (click)="login()">
            Edit
          </ion-button>
        </div>
      </ion-item>
    </ion-card>
  </ion-row>
  <ion-row style="justify-content: center">
    <ion-card class="pet-card">
      <ion-item>
        <div class="avatar-cont">
          <ion-avatar class="pet-avatar" slot="start">
            <img src="/assets/nekko.jpg">
          </ion-avatar>
        </div>
        <div class="div-details">
          <ion-label class="name">Kibul</ion-label>
          <ion-label class="age">200yo</ion-label>
          <ion-label class="bio">No Tail</ion-label>
        </div>
        <div class="div-settings">
          <ion-button color="dark" (click)="login()">
            Edit
          </ion-button>
        </div>
      </ion-item>
    </ion-card>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="register()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<!--<ion-button color="none" expand="block" fill="outline" color="primary" (click)="register()">Signup </ion-button>-->