<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/space-objects.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Boop</ion-card-subtitle>
      <ion-card-title>A space for pets</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <p>Starting point for Ionic 4 Application with Authentication.</p> -->
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col>
      <ion-button color="none" expand="block" fill="outline" color="primary" (click)="login()">Signin</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="none" expand="block" fill="outline" color="primary" (click)="register()">Signup </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
